extends layout

block content
  h1= message
  h2= submessage
  p.
    Die URL #{urlOutput} kann nicht geladen werden. Bitte informieren Sie den Absender.

  p.
    Bitte beachten Sie:
  p.
    Diese Anwendung kann nur freigegebene Dateien aus den Diensten DropBox,
    Google Drive und OneDrive abrufen. Die Freigaben haben folgendes Format:
    ul.
      li= https://drive.google.com/file/d/ ...
      li= https://onedrive.live.com/ ...
      li= https://www.dropbox.com/ ...
