extends layout

block content
  h1= message
  h2= submessage
  p.
    The URL #{urlOutput} can't be loaded. Please inform the sender.

  p.
    Keep in mind:
  p.
    This proxy only accepts files from DropBox, OneDrive and Google drive
    ul.
      li= https://drive.google.com/file/d/ ...
      li= https://onedrive.live.com/ ...
      li= https://www.dropbox.com/ ...
